{%extends 'vamsiele/base.html'%}
{%block body_block%}
{%load static%}
    <link rel="stylesheet" href="{%static 'css/styles.css'%}">
<center>
    <img src="{%static 'images/007.jpg'%}">
  <p>"Originating from the principle of giving customers the best in quality, choice and service,
      Vamsi Electronics was established as a proprietorship firm by P.N.S.Prasada Rao (Seshu), an entrepreneur with astute
      business acumen and foresight. From a small electronic & appliances showroom in Machilipatnam since 1988,
      Vamsi Electronics has long since evolved into one of the best showrooms, now planning to expand even bigger showroom
      with great ambience. Along with a team of professional store managers, delivering on the promise of servicing customer
      needs and efficient post-sales services, together with his son Manikatna P remains
      the driving force behind Vamsi Electronics.With aesthetically designed and conveniently located showrooms, Vamsi Ele" <br>

    <h3>Quick Response and Superior Service</h3><br>
We provide superior customer service and response to our customers’ needs.
    One of our experienced staff members is always <br>available to answer questions or solve a problem. When you call you will always speak to a real person, not a long recording of undesired options.<br>We also have Spanish-speaking office staff – se habla español!<br>
<br>
<h3>Simple, Worry-Free, No-Hassle Service</h3> <br>
At BioServ we make it easy. We offer several ways to order a service – you can call it in, fax it in or order online.<br>
    Any way you choose, it will be simple and won’t waste your valuable time. We do the work so you don’t have to.<br>
<br>
<h3>Comprehensive Customized Services</h3><br>
Our comprehensive list of services makes us an industry leader. From medical, hazardous, pharmaceutical, and electronic regulated waste to complete compliance, <br>training and consulting services, BioServ can handle all your biomedical needs. Our experienced staff will work with you to customize a program of services that is right for you.<br>
<br>
    <h3>Competitive Pricing and Unsurpassed Value</h3><br>
One of our goals is to save our customers money. On average, customers are seeing a cost savings of 50% or greater. When combined with our high level of service, we’re the best value in the industry.<br>

</p>
</center>
{%endblock%}