{%extends 'vamsiele/base.html'%}
{%block body_block%}
{%load static%}
    <link rel="stylesheet" href="{%static 'css/styles.css'%}">
<center>
    <img src="{%static 'images/007.jpg'%}">
  <p>"Originating from the principle of giving customers the best in quality, choice and service,
      Vamsi Electronics was established as a proprietorship firm by P.N.S.Prasada Rao (Seshu), an entrepreneur with astute
      business acumen and foresight. From a small electronic & appliances showroom in Machilipatnam since 1988,
      Vamsi Electronics has long since evolved into one of the best showrooms, now planning to expand even bigger showroom
      with great ambience. Along with a team of professional store managers, delivering on the promise of servicing customer
      needs and efficient post-sales services, together with his son Manikatna P remains
      the driving force behind Vamsi Electronics.With aesthetically designed and conveniently located showrooms, Vamsi Ele"</p>
</center>
{%endblock%}